/*style.css*/
.songGridStyle {
    border: 1px solid rgb(212,212,212);
    #width: 100%; 
    height: 90vh;
}

.betGridStyle {
    border: 1px solid rgb(212,212,212);
    #width: 100%; 
    height: 50vh;
}
.bet-button{
    display: inline-block;
    float:right;
    margin-left: 25px;
}

.delete-button{
    display: inline-block;
    float:right;
    margin-left: 25px;
}

