/*style.css*/
.songGridStyle {
    border: 1px solid rgb(212,212,212);
    height: 92vh;
}

.betGridStyle {
    border: 1px solid rgb(212,212,212);
    height: 50vh;
}

.historyGridStyle {
    border: 1px solid rgb(212,212,212);
    height: 38vh;
}

.bet-button{
    display: inline-block;
    float:right;
    margin-left: 25px;
}

.delete-button{
    display: inline-block;
    float:right;
    margin-left: 25px;
}

.song_view_button{
    float:right;
}

.link{
    cursor: pointer;
}

div.welcome {
    background: #48A3D4;
}
h1.welcome {
    color: #113A58;
    float: center;
}

.myClass = {
    background-color: red;
}

.close {
    font-size: 20px;
    font-weight: bold;
    line-height: 18px;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    filter: alpha(opacity=20);
    text-decoration: none;
    display: inline-block;
}
.close:hover {
    color: #000000;
    text-decoration: none;
    opacity: 0.4;
    filter: alpha(opacity=40);
    cursor: pointer;
}

.btn-choice:active {
    background-color: red
}
