/*style.css*/
.songGridStyle {
    border: 1px solid rgb(212,212,212);
    height: 92vh;
}

.betGridStyle {
    border: 1px solid rgb(212,212,212);
    height: 50vh;
}

.historyGridStyle {
    border: 1px solid rgb(212,212,212);
    height: 38vh;
}

.bet-button{
    display: inline-block;
    float:right;
    margin-left: 25px;
}

.delete-button{
    display: inline-block;
    float:right;
    margin-left: 25px;
}

.song_view_button{
    float:right;
}

.link{
    cursor: pointer;
}
