<div>
  <h3>{{vm.mybet.date_time | date : "dd-MM-yyyy"}}</h3>
  <h3>Stake: {{vm.mybet.stake | number:2}}</h3>
  <h3>Status: {{vm.mybet.has_won}}</h3>
  <table class="table">
    <thead>
      <th>Song</th>
      <th>Choice</th>
    </thead>
    <tr ng-repeat="betitem in vm.mybet.betitem_set">
      <td><a href="{{betitem.song.youtube_link | youtubeLink:'video' }}" target="_blank">
            <img src="{{betitem.song.youtube_link | youtubeLink:'thumbnail'}}" height="42" width="42" alt="Youtube video">&nbsp{{betitem.song.name}} - {{betitem.song.artist_name}}</a></td>
      <td ng-if="betitem.choice=='1'" ng-bind-html="'1' | betChoice"></td>
      <td ng-if="betitem.choice=='X'" ng-bind-html="'X' | betChoice"></td>
      <td ng-if="betitem.choice=='2'" ng-bind-html="'2' | betChoice"></td>
    </tr>
  </table>
</div>
