<div class="col-md-8">
  <table class="table">
    <tr>
      <th>Tip</th>
      <th>1</th>
      <th>X</th>
      <th>2</th>
    </tr>
    {{data}}
    <tr ng-repeat="song for song in data">
      <td>{{$index+1}}. {{song.name}} - {{song.artist[0].name}}</td>
      <!-- 1.0 placeholder for now -->
      <td><button class="btn btn-primary btn-xs" ng-class="myClass1" ng-click="add_bet(song, '1'); active=$index">1.0</button></td>
      <td><button class="btn btn-primary btn-xs" ng-class="myClass2" ng-click="add_bet(song, 'X'); active=$index">1.0</button></td>
      <td><button class="btn btn-primary btn-xs" ng-class="{'myClass': active == $index}" ng-click="add_bet(song, '2'); removeRow(data, $index+1)">1.0{{index}}</button></td>
    </tr>
  </table>
</div>
<div class="col-md-4">
  <h3>{{possible_bets.length}}/10 bets</h3>
  <div ng-if="possible_bets[0]">
    <table>
      <tr ng-repeat="bet in possible_bets">
        <td>{{bet.song.name}} - {{bet.song.artist[0].name}} {{bet.choice}}
          <a class="remove close" ng-click="removeRow(possible_bets, $index+1)">x</a>
        </td>
      </tr>
    </table>
    <button class="btn btn-primary" ng-click="submit_bet()">Bet</button>
  </div>
</div>
