<div class="col-md-8">
  <table class="table">
    <tr>
      <th>Tip</th>
      <th>1</th>
      <th>X</th>
      <th>2</th>
    </tr>
    <tr ng-repeat="song in data">
      <td>{{$index+1}}. {{song.name}} - {{song.artist[0].name}}</td>
      <!-- 1.0 placeholder for now -->
      <td ng-click="add_bet(song, '1')">1.0</td>
      <td ng-click="add_bet(song, 'X')">1.0</td>
      <td ng-click="add_bet(song, '2')">1.0</td>
    </tr>
  </table>
</div>
<div class="col-md-4">
  <h3>{{possible_bets.length}}/10 bets</h3>
  <div ng-if="possible_bets[0]">
    <table>
      <tr ng-repeat="bet in possible_bets">
        <td>{{bet.song.name}} - {{bet.song.artist[0].name}} {{bet.choice}}
          <a class="remove close" ng-click="removeRow($index+1)">x</a>
        </td>
      </tr>
    </table>
    <button class="btn btn-primary" ng-click="submit_bet()">Bet</button>
  </div>
</div>
