<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 gridStyle" ng-grid="SongGridOptions">
        </div>


        <div class="col-md-6">
            <div class="col-md-12 gridStyle" ng-grid="BetGridOptions">
            <button type="button" class="btn btn-primary">1</button>
            <button type="button" class="btn btn-primary">X</button>
            <button type="button" class="btn btn-primary">2</button>
            </div>
            <button type="button" class="btn btn-primary">Submit</button>
        </div>
    </div>
</div>
