/*style.css*/
.songGridStyle {
    border: 1px solid rgb(212,212,212);
    height: 92vh;
}

.betGridStyle {
    border: 1px solid rgb(212,212,212);
    height: 50vh;
}

.historyGridStyle {
    border: 1px solid rgb(212,212,212);
    height: 38vh;
}

.bet-button{
    display: inline-block;
    float:right;
    margin-left: 25px;
}

.delete-button{
    display: inline-block;
    float:right;
    margin-left: 25px;
}

.song_view_button{
    float:right;
}

.link{
    cursor: pointer;
}

div.welcome {
    background: #48A3D4;
}
h1.welcome {
    color: #113A58;
    float: center;
}

.close {
    font-size: 20px;
    font-weight: bold;
    line-height: 18px;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    filter: alpha(opacity=20);
    text-decoration: none;
    display: inline-block;
}
.close:hover {
    color: #000000;
    text-decoration: none;
    opacity: 0.4;
    filter: alpha(opacity=40);
    cursor: pointer;
}

.btn-choice:active {
    background-color: red
}

.btn-table {
    float: right;
}

.white-border {
    border-style: solid;
    border-width: 1px;
    border-color: white;
}

.stake-input {
    display: block;
    padding-left: 15px;
    margin: 0;
    border: 0;
    width: 26%;
}

.arr-up {
    color: green;
}

.arr-down {
    color: red;
}

.arr-middle {
    color:orange;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

body { background-color:#333; }
#snow{
	background: none;
	font-family: Androgyne;
	background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'), url('http://www.wearewebstars.dk/codepen/img//s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index:1;
	-webkit-animation: snow 10s linear infinite;
	-moz-animation: snow 10s linear infinite;
	-ms-animation: snow 10s linear infinite;
	animation: snow 10s linear infinite;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}	
