<div id="navbar" class="navbar-collapse collapse" ng-controller="NavbarCtrl">
  <ul class="nav navbar-nav">
    <li><a ui-sref="singleBet">Bet</a></li>
    <li><a ui-sref="leaderboard">Leaderboard</a></li>
    <li><a ui-sref="mybets">My Bets</a></li>
    <li><a ui-sref="weeks">Weeks</a></li>
  </ul>
  <ul class="nav navbar-nav pull-right" ng-hide="isAuthenticated()">
    <li><a ui-sref="login">Log in</a></li>
  </ul>
  <ul class="nav navbar-nav pull-right" ng-show="isAuthenticated()">
    <li><a href="#">Betting funds:{{bettingFunds}}</a></li>
    <li><a href="#">{{name}}</a></li>
    <li><a ui-sref="logout">Log out</a></li>
  </ul>
</div>

